@import "form";

* {
  box-sizing: border-box;
}
html, body { 
	min-height: 100%; 
	.createAd-check {
		display: none;
	}
	#createAd-check:checked + #createAd-nav {
		float: right;
		width: 100%;
	}
	#createAd-check:checked ~ .createAd-wrap {

		float: right;
		.open-menu {
	 		display: none; 
		}
		.close-menu {
	  	display: block;
	  }
		.createAd-header {
			width: 100%;
		    left: 0%;
		}
	}
	.createAd-nav {
		position: fixed;
		top: 0;
		width: 0;
		height: 100%;
		background: #3B3B3B;
		overflow: hidden;
		transition: width 0.3s ease;
		z-index: 100;
  		a {
		    display: block;
		    background: linear-gradient(#3E3E3E, #383838);
		    border-top: 1px solid #484848;
		    border-bottom: 1px solid #2E2E2E;
		    color: white;
		    padding: 15px;
		    &:hover, &:focus {
		    	background: linear-gradient(#484848, #383838);
			}
		}
		p {
			color: white;
			font-size: 28px;
			padding-left:10px;
		}
		&:after {
			content: "";
			height: 100%;
			width: 34px;
			background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
		}
	}
	.createAd-wrap {
		float: right;
		width: 100%;
		transition: width 0.3s ease;
		.createAd-header { 
			padding: 5px;
			position: relative;
			height: 0px;
			left: 0;
			transition: all 0.3s ease;
			.toggle-menu {
				color: red;
			}
		}
		.content {
		}
		.close-menu {
			display: none;
		}
	}
}
