@import "mobile-menu";
@import "createAd";
@import "sliderAds";
@import "singlePost";
//@import "_vars-typeplate.scss";
//@import "_typeplate.scss";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*****************************************************/
/********************* index.php *********************/
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ada9a9;
	margin: 0 auto;
	a {
		text-decoration: none;
	}
	h5 {
		text-align: center;
	}
	
	
	.page-wrap {
		.main-header {
			//z-index:2;
			#main-headline {
				font-size: 2rem;
				font-weight: 900;
				color: white;
				margin-left: 20px;
				text-align: left;
				a {
					text-decoration: none;
				}	
			}
		}
		.presentationWrap {
			height:400px;
			margin-top: 135px !important;	
			background: url(../img/Mood.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
  			-moz-background-size: cover;
  			-o-background-size: cover;
  			background-size: cover;
			.textwidget{
				position:relative;
				width:500px;
				color:rgba(255, 255, 255, 1);
	  			font-size:50px;
	  			margin: 0 auto;
	  			background: rgba(0, 0, 0, 0.3);
	  			border-radius:10px;
	  			padding:0 10px 0 10px;
	  		}
			
		}
		.latestAdsWrap {
			height: 100%;
			.swipe {
				.swipe-wrap {
					.ads {
						margin-top: -1px;
						text-align: center;
						z-index: 1;
						min-height: 200px;
						color: black;
						background-color: white;
						opacity:0.8;
						.date{
							color:black;
							text-align:left;
						}
						a {
							color: black;
						}
						p{
							text-align:left;
							padding:0px 10px 0px 10px;
						}
						.titleFrame {
							border: 2px solid #ff6600;
							margin-top: 0;
							background-color: #ff6600;
							.blogTitle {
								color: white;
							}
						}
					}
				}
			}
		}
		.inlineLink {
			margin-top: 0px;
			float: left;
		}
		.allAds-wrap {
			height: 155px;
			margin: 0 0 0 0;
			padding: 0;
			.headlineWrap {
				height: 155px;
				color: white;
				background-color: black;
				width: 75%;
				h5{
					font-size:1.8em;
					padding-top:10px;
				}
			}
			.pinkSearchIcon {
				padding: 5px;
				height: 155px;
				background-color: #ff66ab;
				width: 25%;
				.img-wrap {
					text-align: center;
					.arrows {
						width: 70%;
						padding-top:25px;
					}					
				}

			}
		} 
		.createAd-wrap {
			height: 155px;
			margin-top:10px;
			color:white;
			h5{
				font-size:1.8em;
				padding-top:20px;
				}
			.greenAdIcon {
				padding: 5px;
				height: 155px;
				background-color: #27ff6b;
				width: 25%;
				.img-wrap {
					text-align: center;
					.arrows {
						width: 70%;
						padding-top:25px;
					}
				}
			}
			.headlineWrap {
				background-color: black;
				height: 100%;
				width: 75%;
			}
		}
	}
}
/*****************************************************/
/******************** All-ads.php ********************/

.allAdsLoop {
	position:relative;
	top: 90px;
	background: url(../img/Mood.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	.ads{
  		width: 500px;
  		margin: 0 auto;
  		padding-top: 20px;
  		a {
  			.titleFrame {
				background-color: white;
				border-radius:10px;
				
				opacity:0.8;
				text-align:center;
				h1{
					color:black;
				}
				p {
				color:black;
				margin: 0 auto;
				width: 400px;	
				text-align: left;
				}
				.date{
					margin-top:0px;
					background-color:#ff6600;
					font-size:30px;
					border-radius:10px 10px 0 0;
					width: 100%;
				}
				.blogContent {
				
				}
				
			}
  		}
	}
}


